@import "../../../utils.scss";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;           // или 100dvh, зависит от родителя
  max-height: 100%;
  overflow: hidden;
  gap: 8px;
}

.profile-card__wrapper {
  display: grid;
  grid-gap: 8px;
  height: 760px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    background: var(--light-transparent-color);
    border-radius: 4px;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
  }

}
