@import "../../../utils.scss";

:host {
  display: block;
  padding: 20px 12px;
  position: relative;
  background: var(--dark-color);
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;
  font-weight: 700;
  font-size: 14;
  line-height: 24px;
  align-items: center;
  width: 100%;
  text-align: left;
  border-radius: 2px;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus-visible {
    background: var(--dark-hover-color);
    color: var(--primary-color);

    .menu-item svg {
      color: var(--primary-color);
    }
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.to-subscribers {
  display: flex;
  gap: 10px;
  align-items: center;
}

.to-subscribers-link {
  color: var(--primary-color);
  text-decoration: none;
}

.to-subscribers-icon {
  width: 18px;
  height: 18px;
  color: var(--primary-color);
}

.subscribers {
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}

.sidebar__footer {
  width: calc(100% - 25px);
  position: absolute;
  bottom: 20px;
  background: var(--dark-hover-color);
  border-radius: 2px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  grid-gap: 12px;
  align-items: center;
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;

  }
  .username-text {
    font-weight: 700;
    color: var(--primary-color);
  }

}

.settings-btn {
  background: var(--dark-hover-color);
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  &:hover {
    opacity: 0.7;
  }
  svg {
      width: 13px;
      height: 13px;
      color: var(--primary-color);
    }
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 100%;

  margin-bottom: 8px;
  background: var(--dark-color);
  border: 1px solid var(--dark-hover-color);
  border-radius: 8px;

  .settings-wrapper-btns {
    width: 100%;
    padding: 10px 16px;
    text-align: left;
    background: none;
    color: var(--light-color);
    cursor: pointer;
    font-size: 14px;
    border: none;

    &:hover {
      background: var(--dark-hover-color);
      color: var(--primary-color);
    }

    &:first-child {
      border-radius: 8px 8px 0 0;
    }

    &:last-child {
      border-radius: 0 0 8px 8px;
    }
  }
}

@include mobile {
  :host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60px;
  }
  .sidebar-text {
    display: none;
  }
  .sidebar-logo {
    width: 50px;
    height: 50px;
    display: flex;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .subscribers-title {
    display: none;
  }
  .subscribers {
    display: none;
  }
  .sidebar__footer {
    width: 100%;
    position: relative;
    background: var(--dark-color);
    img {
      display: none;
    }
    .username-text {
      display: none;
    }
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 4px;

    .settings-btn {
      background: var(--dark-color);
      svg {
        color: var(--light-color);
      }
    }
  }
  .menu-item {
    display: flex;
    padding: 40px 20px;
  }
}
