@import "../../../utils.scss";

:host {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
}

.workspace {
  padding: 24px;
}

@include mobile {
    :host {
      grid-template-columns: 60px 1fr;
    }

    .workspace {
      padding: 10px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        background: var(--dark-color);
        border-radius: 4px;
        width: 4px;
        cursor: pointer;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 4px;
      }
    }
  }
