@import '../../../utils.scss';

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 5%;

  @include tablet {
    margin: 0 3%;
  }

  @include mobile {
    grid-template-columns: 1fr;
    margin: 0 20px;
    height: auto;
    min-height: 100dvh;
    padding: 40px 0;
  }
}

.login-form {
  width: 440px;
  max-width: 100%;
  place-self: center;

  @include mobile {
    width: 100%;
  }
}

.big-logo {
  place-self: center;
  max-width: 100%;
  height: auto;

  @include mobile {
    width: 200px;
    height: 200px;
  }
}

.password-input, .username-input {
  position: relative;
}

.password-eye-btn {
  position: absolute ;
  top: 50%;
  right: 12px;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.password-eye-btn.active {
  color: var(--primary-color);
}

.telegram-logo {
  position: absolute;
  top: 50%;
  right: 12px;
  background: none;
  border: none;
}

.login-page__title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @include fluid-text(24, 48)
}

.tt-control-label {
  display: block;
  margin-bottom: 16px;
}
