@import "../../../utils.scss";

.profile-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
}

.to-setting-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}

.to-setting-btn {
  width: 190px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-page__body {
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 350px;
  padding: 24px;

  @include tablet {
    grid-gap: 40px;
    grid-template-columns: 1fr 300px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-gap: 24px;
    padding: 0;
  }
}

.subscribers-wrapper {
  display: flex;
  grid-gap: 6px;
  align-items: center;
}

.subscriber-avatar-btn {
  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  &:hover {
    opacity: 0.8;
  }
}

.to-subscribers-search {
  border-radius: 50%;
  background: var(--light-color);
  width: 14px;
  height: 14px;
  position: relative;
  &:before,
  &:after {
    top: 50%;
    left: 50%;
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background: var(--dark-color);
  }

  &:before {
    transform: translateY(-50%) translateX(-50%);
  }
  &:after {
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
  }
}

.stack-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.more-btn {
  display: none;
  width: 100%;
  padding: 12px;
  background: var(--dark-hover-color);
  border: none;
  border-radius: 8px;
  color: var(--light-transparent-color);
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  margin-bottom: 16px;

  &:active {
    color: var(--primary-color);
  }
}

@include mobile {
  .more-btn {
    display: block;
  }
  .details-section {
    display: none;
  }
  .details-section.show {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

@include desktop {
  .details-section {
    display: block;
  }
}
