<div class="chat-wrapper">
  @if (!isMobile || showChatList()) {
    <div class="all-chats">
      @if (loading$ | async) {
        <div class="loading">Загрузка чатов...</div>
      }
      <div class="chat-search">
        <input
        class="chat-search-input"
        placeholder="Искать..."
        >
      </div>
      <div class="chats-list">
        @for (chat of chats$ | async; track chat.id) {
        <div class="chat-item" (click)="openChat(chat.id)">
          <header class="chat-item-header">
            @if (chat.userFrom.avatarUrl == null) {
              <img
                src="/assets/images/avatar-placeholder.png"
                alt=""
                class="chat-item__avatar">
            }
            @else {
              <img
                [src]="chat.userFrom.avatarUrl | imgUrl "
                [alt]="chat.userFrom.lastName"
                class="chat-item__avatar">
            }
            <div class="chat-name">
              {{ chat.userFrom.firstName}} {{ chat.userFrom.lastName }}
            </div>
            <div class="chat-date">
              {{chat.createdAt | date: 'dd.MM.yy'}}
            </div>
          </header>
          @if (chat.message == null) {
            <span class="last-chat-message">Сообщения отсутствуют</span>
          }
          @else {
            <span class="last-chat-message">{{chat.message}}</span>
          }
        </div>
      } @empty {
        @if (searchControl.value) {
          <div class="no-results">Ничего не найдено</div>
        }
      }
      </div>
    </div>
  }
  @if (!isMobile || !showChatList()) {
    <div class="active-chat">

        @if ((openedChat$ |async); as openedChat) {

            <header class="active-chat-header">
              <button class="chat-action-btns close-chat-btn" (click)="closeChat()">
                <svg icon="close-chat"></svg>
              </button>
              <div class="opened-chat__profile">
                @if (openedChat.userFirst.avatarUrl == null) {
                <img
                  src="/assets/images/avatar-placeholder.png"
                  alt=""
                  class="chat-item__avatar">
              }
              @else {
                <img
                  [src]="openedChat.userFirst.avatarUrl | imgUrl "
                  [alt]="openedChat.userFirst.lastName"
                  class="chat-item__avatar">
              }
              {{openedChat.userFirst.firstName}} {{openedChat.userFirst.lastName}}
              </div>
              <button class="chat-action-btns chat-menu-btn">
                <svg icon="chat-menu" class="chat-menu-icon"></svg>
              </button>
            </header>
            <div class="active-chat-messages">
              @for (message of openedChat.messages; track message.id) {
                @if (message.userFromId == openedChat.userFirst.id) {
                  <div class="userFirst__message">
                  <header class="message-header">

                    @if (openedChat.userFirst.avatarUrl == null) {
                      <img
                      src="/assets/images/avatar-placeholder.png"
                      alt=""
                      class="chat-item__avatar">
                    }
                    @else {
                      <img
                      [src]="openedChat.userFirst.avatarUrl | imgUrl "
                      [alt]="openedChat.userFirst.lastName"
                      class="chat-item__avatar">
                    }
                    <div class="username">
                      {{openedChat.userFirst.firstName}} {{openedChat.userFirst.lastName}}
                    </div>
                    <div class="message-time">{{ message.createdAt | date: 'HH:mm' }}</div>
                  </header>

                  <div class="message-text">{{ message.text }}</div>
                  </div>
                }
                @else {
                  <div class="userSecond__message">
                    <header class="message-header">
                      <div class="message-time">{{ message.createdAt | date: 'HH:mm' }}</div>
                      <div class="username">
                        {{openedChat.userSecond.firstName}} {{openedChat.userSecond.lastName}}
                      </div>
                      @if (openedChat.userSecond.avatarUrl == null) {
                        <img
                          src="/assets/images/avatar-placeholder.png"
                          alt=""
                          class="chat-item__avatar">
                      }
                      @else {
                        <img
                          [src]="openedChat.userSecond.avatarUrl | imgUrl "
                          [alt]="openedChat.userSecond.lastName"
                          class="chat-item__avatar">
                        }
                    </header>

                    <div class="message-text">{{ message.text }}</div>
                  </div>
                }
              }
            </div>
            <div class="message-input-wrapper">
              @if (openedChat.userSecond.avatarUrl) {
                <img class="message-input__avatar" [src]="openedChat.userSecond.avatarUrl | imgUrl" alt="">
              } @else {
                <img src="/assets/images/avatar-placeholder.png" alt="">
              }
              <textarea
                class="tt-form-input message-input"
                placeholder="Напишите что-нибудь..."
                [(ngModel)]="messageText"
                rows="1"
                (input)="autoResize($event)"
              ></textarea>
              <button class="emoji-btn" (click)="toggleEmojiPicker()">
                <svg icon="emoji-btn" class="to-emoji-icon"></svg>
              </button>
              <button type="button" class="btn message-btn" (click)="sendMessage(openedChat.id)">
                <svg icon="message-btn" class="to-message-icon"></svg>
              </button>
            </div>
            @if (showPicker) {
              <div class="emoji-picker-container">
                <emoji-mart
                  title="Выберите эмодзи"
                  (emojiClick)="addEmoji($event)"
                ></emoji-mart>
              </div>
            }

        }
      @else {
              <span class="take-chat-message">Выберите, кому хотели бы написать</span>
            }

    </div>
  }
</div>


