@import "../../../utils.scss";

.profile-card {
  border: 1px solid var(--light-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 250px 1fr;
  padding: 32px 24px;
  grid-gap: 32px;
  background: var(--dark-color);

  @include mobile {
    grid-template-columns: 1fr auto;
    grid-gap: 16px;
    padding: 20px;
  }
}

.avatar-name {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;

  @include mobile {
    grid-template-columns: 48px 1fr;
    grid-gap: 12px;
  }
}

.profile-card__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;

  @include mobile {
    width: 48px;
    height: 48px;
  }
}

.profile-card__name {
  display: flex;
  flex-direction: column;
  gap: 9px;

  @include mobile {
    gap: 4px;
    justify-content: center;

    .mobile-profile-card__name {
        font-size: 14px;
      }
    .mobile-profile-card__subtitile {
        font-size: 10px;
      }
  }
}

.profile-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  @include mobile {
    display: none;
  }
}

@include mobile {
  .profile-card__description {
    display: none;
  }
}

.subscribe-btn {
  width: 157px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.unsubscribe-btn {
  padding: 0;
  margin: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-color);
  border: 1px solid var(--primary-color);
  svg {
    color: var(--primary-color);
  }
}

.subscribe-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}

.visit-btn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-left: 5px;
}

.visit-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}

.profile-card_action-btns {
  display: flex;
  gap: 8px;

  @include mobile {
    grid-column: 1 / -1;
    justify-self: stretch;
    justify-content: center;
  }
}

.message-btn {
  box-sizing: border-box;
  width: 124px;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  svg {
    width: 16px;
    height: 16px;
    color: var(--dark-color);
  }
}
