@if (profile)
{
  <div class="profile-card">
    <div class="avatar-name">
      @if (profile.avatarUrl == null) {
        <img
          src="/assets/images/avatar-placeholder.png"
          alt=""
          class="profile-card__avatar">
      }
      @else {
        <img
            [src]="profile.avatarUrl | imgUrl "
            [alt]="profile.lastName"
            class="profile-card__avatar">

      }

      <div class="profile-card__name">
        <strong class="h6 mobile-profile-card__name">{{profile.firstName}} {{profile.lastName}}</strong>
        <span class="subtitle mobile-profile-card__subtitile">{{profile.username}}</span>
      </div>
    </div>
    @if (profile.description == '') {
      <span class="profile-card__description">Описание отсутствует</span>
    }
    @else {
      <div class="profile-card__description">{{profile.description}}</div>
    }


    <div class="profile-card__tags">
      @if (!profile.stack || profile.stack.length === 0) {
        <span>Навыки отсутствуют</span>
      }
      @else {
        @for (skill of profile.stack; track skill) {
          <div class="skill-tag">{{ skill }}</div>
        }
      }
    </div>
    <div class="profile-card_action-btns">
      @if (!isCurrentUser) {
        @if (isSubscribed) {
          <button type="button" class="btn unsubscribe-btn" (click)="toggleSubscription()" [disabled]="isSubscribing">
            <svg icon="unsubscribe" class="unsubscribe-icon subscribe-icon"></svg>
          </button>
          <button type="button" class="btn message-btn" (click)="createChat(profile)">Написать
            <svg icon="message-btn" class="to-message-icon"></svg>
          </button>
        }
        @else {
          <button type="button" class="btn subscribe-btn" (click)="toggleSubscription()" [disabled]="isSubscribing">
            Подписаться
            <svg icon="subscribe" class="subscribe-icon"></svg>
          </button>
        }

      }


          <a  class="btn visit-btn" (click)="goToProfile(profile.id)">
            <svg icon="visit" class="visit-icon"></svg>
          </a>

      </div>

  </div>
}

