@if (profiles$ | async; as profile) {
  @if (isCurrentUser) {
    @for (post of posts$ | async; track post.id) {

      @if (showEditModal) {
        <app-post-editor
          [editpost]="selectedPost"
          (close)="onEditModalClose($event)">
        </app-post-editor>
      }
      @if (postPickerOpen) {
        <div class="emoji-picker-container">
          <emoji-mart
            title="Выберите эмодзи"
            (emojiClick)="addEmojiToPost($event)"
          ></emoji-mart>
        </div>
      }
      <div class="post-wrapper">
        <header class="post-header">
          <img class="post__avatar" [src]="post.author.avatarUrl | imgUrl" alt="">
          <span class="post-author">{{ post.author.firstName }} {{ post.author.lastName }}</span>
          <span class="post-date medium-text"> {{ post.createdAt | date }}</span>
          <div class="post-menu-wrapper">
            <button class="show-menu-btn menu-btn" (click)="togglePostSettingsMenu($event, post.id)">
              <svg icon="post-menu"></svg>
            </button>
            @if (isPostMenuOpen(post.id)) {
              <div class="dropdown-menu" (click)="$event.stopPropagation()">
                <button class="post-menu-btns" (click)="editPost(post)">Редактировать</button>
                <button class="post-menu-btns" (click)="deletePost(post.id)">Удалить</button>
              </div>
            }
          </div>
        </header>
        <p class="post-content regular">{{ post.content }}</p>
        <div class="actions-wrapper">
          <div class="comments-wrapper">
            <button class="show-comments-btn show-menu-btn " (click)="toggleCommentsMenu($event, post.id)">
              <svg icon="comment"></svg>
              <p>{{post.comments.length}}</p>
            </button>
          </div>
            <button class="like-btn show-menu-btn" (click)="toggleLike(post, profile.id)">
              <svg icon="like"></svg>
              <p>{{post.likes}}</p>
            </button>
        </div>
        <div class="comment-wrapper">
          @if (isCommentsMenuOpen(post.id)) {
            @for (comment of post.comments; track comment.id) {
              <header class="comment-header post-header">
                <img class="comment__avatar post__avatar" [src]="post.author.avatarUrl | imgUrl" alt="">
                <span class="comment-author">{{ comment.author.firstName }} {{ comment.author.lastName }}</span>
                <span class="post-date medium-text">{{ comment.createdAt | date }}</span>
                <div class="comment-menu-wrapper">
                  <button class="show-menu-btn menu-btn" (click)="toggleCommentSettingsMenu($event, comment.id)">
                    <svg icon="post-menu"></svg>
                  </button>
                  @if (isCommentsMenuOpen(comment.id)) {
                    <div class="dropdown-menu comment-dropdown-menu" (click)="$event.stopPropagation()">
                      <button class="comment-menu-btns post-menu-btns" (click)="openCommentEditor(comment.id, comment.text)">Редактировать</button>
                      <button class="comment-menu-btns post-menu-btns" (click)="deleteComment(post.id, comment.id)">Удалить</button>
                    </div>
                  }
                </div>

              </header>
              <span class="comment-content regular">{{ comment.text }}</span>
            }
            @empty {
              <p>Нет комментариев. Будьте первым!</p>
            }


            @if (showCommentEditor) {
              <app-comment-editor
                [initialText]="editingCommentOldText"
                (saveComment)="onCommentSaved($event, post)"
                (close)="closeCommentEditor()"
              ></app-comment-editor>
            }
          }
        </div>

        <div class="post-input-wrapper">
          @if (profile.avatarUrl) {
            <img class="post-input__avatar" [src]="profile.avatarUrl | imgUrl" alt="">
          }
          @else {
            <img src="/assets/images/avatar-placeholder.png" alt="">
          }
          <textarea
            class="tt-form-input post-input"
            placeholder="Напишите комментарий..."
            [(ngModel)]="commentText[post.id]"
            rows="1"
            (input)="autoResize($event)"
          ></textarea>
          <button class="emoji-btn" (click)="toggleCommentPicker(post.id)">
            <svg icon="emoji-btn" class="to-emoji-icon"></svg>
          </button>
          <button type="button" class="btn message-btn" (click)="sendComment(post.id)">
            <svg icon="message-btn" class="to-message-icon"></svg>
          </button>
          @if (commentPickerStates[post.id]) {
            <div class="emoji-picker-container">
              <emoji-mart
                title="Выберите эмодзи"
                (emojiClick)="addEmojiToComment($event, post.id)"
              ></emoji-mart>
            </div>
          }
        </div>
      </div>
    }
  }
}




