@import "../../../../utils.scss";

.post-wrapper {
  min-width: 50px;
  max-width: 688px;
  min-height: 76px;
  align-items: center;
  background: var(--dark-color);
  border: 1px solid var(--light-color);
  padding: 16px;
  margin-top: 8px;
}

.post__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 13px;
}

.show-menu-btn {
  background: var(--dark-color);
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  &:hover {
    opacity: 0.7;
  }
  svg {
      width: 13px;
      height: 13px;
      color: var(--light-color);
    }
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  background: var(--dark-color);
  border: 1px solid var(--dark-hover-color);
  border-radius: 8px;

  .post-menu-btns {
    box-sizing: border-box;
    padding: 10px 16px;
    text-align: left;
    background: none;
    color: var(--light-color);
    cursor: pointer;
    border: none;

    &:hover {
      background: var(--dark-hover-color);
      color: var(--primary-color);
    }

    &:first-child {
      border-radius: 8px 8px 0 0;
    }

    &:last-child {
      border-radius: 0 0 8px 8px;
    }

    @include fluid-text(12, 14);
  }

  @include mobile {
    left: 65%;
  }
}

@include mobile {
  .comment-dropdown-menu {
    position: absolute;
    bottom: 15%;
  }
}


.like-btn {
  color: var(--light-color);
  gap: 5px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @include fluid-text(12,16);
}
.post-date {
  color: var(--light-transparent-color);
  margin-left: 15px;
}

.post-menu-wrapper {
  margin-left: auto;
}

.post-content {
  margin-left: 40px;
  overflow-wrap: break-word;
  @include fluid-text(10,12);
}

.actions-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 40px
}

.show-comments-btn {
  color: var(--light-color);
  gap: 5px;
}

.post-input-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  max-width: 688px;
  min-height: 76px;
  align-items: center;
  background: var(--dark-color);
  border: 1px dashed var(--light-color);
  padding: 16px;
  margin-top: 10px;
}

.post-input {
  min-width: 100px;
  max-width: 504px;
  min-height: 33px;
  max-height: 75px;
  resize: none;
  font-family: 'JetBrains Mono', 'sans-serif';

  &::-webkit-scrollbar {
    background: var(--light-transparent-color);
    border-radius: 4px;
    width: 4px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
  }

}

.post-input__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 13px;
}

.to-message-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}

.message-btn {
  width: 44px;
  display: flex;
  align-items: center;
  padding: 13px 13px;
}

.to-emoji-icon {
  width: 16px;
  height: 16px;
  color: var(--light-color);
}

.emoji-btn {
  width: 40px;
  height: 38px;
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.emoji-picker-container {
  position: absolute;
  left: 70%;

  @include mobile {
    left: 10%;
    top: 10%
  }
}

.comment-menu-wrapper {
  margin-left: auto;
}

.comment-wrapper {
  margin-left: 80px;
  max-width: 572px;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: auto;

  &::-webkit-scrollbar {
    background: var(--light-transparent-color);
    border-radius: 4px;
    width: 4px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
  }
}

.comment-header {
}

.comment-content {
  overflow-wrap: break-word;
  max-width: 688px;
  @include fluid-text(10, 12);
}

.comment-menu-btns {

}

.comment__avatar {

}

.comment-author {
  @include fluid-text(10, 12);
}

