@import "../../../../utils.scss";

.profile-search-form {
  padding: 16px 20px;
  background: var(--dark-color);
  border: 1px solid var(--light-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px , 400px));
  grid-gap: 40px;
  justify-content: space-between;

  @include mobile {
    grid-gap: 5px;
  }
}
